h3 {
    text-align: center;
}
.align-nav {
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-item {
    justify-self: center;
}
.quantity {
    display: inline-block;
    min-width: 3em;
    text-align: center;
}