html {
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center;
}
.align-nav {
    display: flex;
    justify-content: space-between;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-item {
    justify-self: center;
}
.quantity {
    display: inline-block;
    min-width: 3em;
    text-align: center;
}
.no-link-style, .no-link-style:link, .no-link-style:visited, .no-link-style:hover, .no-link-style:active {
    text-decoration: none;
    color: black;
}
.new-item-form {
    margin-left: 10vw;
    margin-right: 10vw;
}
.new-item-form input.btn {
    margin-top: 2vw;
}
.clickable {
    cursor: pointer;
}
.nav-ul {
    display: flex;
    align-items: flex-end;
    margin: 0;
}
.nav-li-item {
    list-style-type: none;
    margin: 1vw;
}
.nav-li-item p {
    margin: 0;
}
.nav-brand {
    margin: 1vw;
}
.align-component {
    margin: 1vw;
}
#item-list {
    max-width: 600px;
    margin: 0 auto;
}
.centered {
    width: 40vw;
    margin: 0 auto;
}